# Actividad 02 - Control de flujos

## Ejercicio 1: Generar un par de arrays ficticios con `numpy`

* Utilice la función `np.linspace` para generar un array entre 1 y 50, y un array entre 50 y 150.

In [2]:
import pandas as pd
import numpy as np

In [19]:
array_1 = np.linspace(start=1, stop=50,dtype=int)
array_2 = np.linspace(start=50, stop=100,dtype=int)

## Ejercicio 2: Ejecute un loop que devuelva si el número en el primer array es par o impar

* Para averiguar si el cada número es par o impar puede implementar el operador de módulo (`%`) para encontrar si el número es divisible por 2.

## Ejercicio 3: Genere un loop con el segundo array que cuente las siguientes condiciones

* Si el número es divisible por 2 o 3
* Si el número es divisible por 2 y 3
* Si el número es divisible por 3 pero no por 2
* si el número no es divisible por 2 ni 3

In [30]:
for i in array_1:
    if i % 2 == 0:
        print ("El número {} es par".format(i))
    else:
        print ("El número {} es impar".format(i))

El número 1 es impar
El número 2 es par
El número 3 es impar
El número 4 es par
El número 5 es impar
El número 6 es par
El número 7 es impar
El número 8 es par
El número 9 es impar
El número 10 es par
El número 11 es impar
El número 12 es par
El número 13 es impar
El número 14 es par
El número 15 es impar
El número 16 es par
El número 17 es impar
El número 18 es par
El número 19 es impar
El número 20 es par
El número 21 es impar
El número 22 es par
El número 23 es impar
El número 24 es par
El número 25 es impar
El número 26 es par
El número 27 es impar
El número 28 es par
El número 29 es impar
El número 30 es par
El número 31 es impar
El número 32 es par
El número 33 es impar
El número 34 es par
El número 35 es impar
El número 36 es par
El número 37 es impar
El número 38 es par
El número 39 es impar
El número 40 es par
El número 41 es impar
El número 42 es par
El número 43 es impar
El número 44 es par
El número 45 es impar
El número 46 es par
El número 47 es impar
El número 48 es par
El número 49 es impar
El número 50 es par

In [51]:
num_div_2_o_3 = 0
num_div_2_y_3 = 0
num_div_3_not_2 = 0
num_div_not_2_not_3 = 0

list_div_2_o_3 = list()
list_div_2_y_3 = list()
list_div_3_not_2 = list()
list_div_not_2_not_3 = list()

for i in array_2:
    if i % 2 == 0 or i % 3 == 0:
        print ("El número {} es divisible en 2 o en 3".format(i))
        num_div_2_o_3 = num_div_2_o_3 + 1
        list_div_2_o_3.append(i)
    else:
        pass

    if i % 2 == 0 and i % 3 == 0:
        print ("El número {} es divisible en 2 y en 3".format(i))
        num_div_2_y_3 = num_div_2_y_3 + 1
        list_div_2_y_3.append(i)
    else:
        pass
        
    if i % 3 == 0 and i % 2 != 0:
        print ("El número {} es divisible por 3 pero no por 2".format(i))
        num_div_3_not_2 = num_div_3_not_2 + 1
        list_div_3_not_2.append(i)
    else:
        pass
        
    if i % 3 != 0 and i % 2 != 0:
        print ("El número {} no es divisible por 2 ni 3".format(i))
        num_div_not_2_not_3 = num_div_not_2_not_3 + 1
        list_div_not_2_not_3.append(i)
    else:
        pass

print ("Números divisibles en 2 o 3: {}".format(num_div_2_o_3))
print (list_div_2_o_3)
print ("Números divisibles en 2 y 3: {}".format(num_div_2_y_3))
print (list_div_2_y_3)
print ("Números divisibles en 3 y no 2: {}".format(num_div_3_not_2))
print (list_div_3_not_2)
print ("Números no divisibles en 2 ni 3: {}".format(num_div_not_2_not_3))
print (list_div_not_2_not_3)

El número 50 es divisible en 2 o en 3
El número 51 es divisible en 2 o en 3
El número 51 es divisible por 3 pero no por 2
El número 52 es divisible en 2 o en 3
El número 53 no es divisible por 2 ni 3
El número 54 es divisible en 2 o en 3
El número 54 es divisible en 2 y en 3
El número 55 no es divisible por 2 ni 3
El número 56 es divisible en 2 o en 3
El número 57 es divisible en 2 o en 3
El número 57 es divisible por 3 pero no por 2
El número 58 es divisible en 2 o en 3
El número 59 no es divisible por 2 ni 3
El número 60 es divisible en 2 o en 3
El número 60 es divisible en 2 y en 3
El número 61 no es divisible por 2 ni 3
El número 62 es divisible en 2 o en 3
El número 63 es divisible en 2 o en 3
El número 63 es divisible por 3 pero no por 2
El número 64 es divisible en 2 o en 3
El número 65 no es divisible por 2 ni 3
El número 66 es divisible en 2 o en 3
El número 66 es divisible en 2 y en 3
El número 67 no es divisible por 2 ni 3
El número 68 es divisible en 2 o en 3
El número 69 es divisible en 2 o en 3
El número 69 es divisible por 3 pero no por 2
El número 70 es divisible en 2 o en 3
El número 71 no es divisible por 2 ni 3
El número 72 es divisible en 2 o en 3
El número 72 es divisible en 2 y en 3
El número 73 no es divisible por 2 ni 3
El número 74 es divisible en 2 o en 3
El número 75 es divisible en 2 o en 3
El número 75 es divisible por 3 pero no por 2
El número 76 es divisible en 2 o en 3
El número 77 no es divisible por 2 ni 3
El número 78 es divisible en 2 o en 3
El número 78 es divisible en 2 y en 3
El número 79 no es divisible por 2 ni 3
El número 80 es divisible en 2 o en 3
El número 81 es divisible en 2 o en 3
El número 81 es divisible por 3 pero no por 2
El número 82 es divisible en 2 o en 3
El número 83 no es divisible por 2 ni 3
El número 84 es divisible en 2 o en 3
El número 84 es divisible en 2 y en 3
El número 85 no es divisible por 2 ni 3
El número 86 es divisible en 2 o en 3
El número 87 es divisible en 2 o en 3
El número 87 es divisible por 3 pero no por 2
El número 88 es divisible en 2 o en 3
El número 89 no es divisible por 2 ni 3
El número 90 es divisible en 2 o en 3
El número 90 es divisible en 2 y en 3
El número 91 no es divisible por 2 ni 3
El número 92 es divisible en 2 o en 3
El número 93 es divisible en 2 o en 3
El número 93 es divisible por 3 pero no por 2
El número 94 es divisible en 2 o en 3
El número 95 no es divisible por 2 ni 3
El número 96 es divisible en 2 o en 3
El número 96 es divisible en 2 y en 3
El número 97 no es divisible por 2 ni 3
El número 98 es divisible en 2 o en 3
El número 100 es divisible en 2 o en 3
Números divisibles en 2 o 3: 34
[50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 100]
Números divisibles en 2 y 3: 8
[54, 60, 66, 72, 78, 84, 90, 96]
Números divisibles en 3 y no 2: 8
[51, 57, 63, 69, 75, 81, 87, 93]
Números no divisibles en 2 ni 3: 16
[53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97]

## Ejercicio 4
* Utilizando la misma base `flights.csv`

### Hacer un loop y clasificar los meses con una cantidad de pasajeros menor a la media

* Para ello, generen un nuevo objeto que represente la media de `passengers`.
* Generen una columna en la base de datos que se llame `underperforming` y asígnele 0.
* Ejecuten un loop que recorra cada observación de `passengers`, donde si la observación es menor a la media de `passengers` se le asigne a `underperforming` un 1.
* Para asignar unos en la columna `underperforming` ya creada, utilice la función `at`. Lea la documentación asociada para ver qué parámetros ingresa.

## Ejercicio 5: Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.

* Para ello, genere dos objetos que guarden la media general y la desviación estandar general de `passengers`.
* Genere una nueva columna en la tabla de datos que se llame `outlier` y asígnele 0.
* Ejecuten un loop que recorra cada observación de `passengers`, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.
* Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
    - La observación debe ser menor a la  media menos la desviación estándar, o
    - La observación debe ser mayor a la media más la desviación estándar.

#### ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [105]:
df = pd.read_csv("flights.csv")

In [111]:
passengers_mean = np.mean(df['passengers'])
print ("Media de pasajeros: {}".format(passengers_mean))

Media de pasajeros: 280.2986111111111

In [107]:
df['underperforming'] = 0

In [109]:
indice = 0
for n in df['passengers']:
    if n < passengers_mean:
        df.iloc[indice, df.columns.get_loc('underperforming')] = 1
    else:
        df.iloc[indice, df.columns.get_loc('underperforming')] = 0
    indice = indice + 1
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
5    1949       June         135                1
6    1949       July         148                1
7    1949     August         148                1
8    1949  September         136                1
9    1949    October         119                1
10   1949   November         104                1
11   1949   December         118                1
12   1950    January         115                1
13   1950   February         126                1
14   1950      March         141                1
15   1950      April         135                1
16   1950        May         125                1
17   1950       June         149                1
18   1950       July         170                1
19   1950     August         170                1
20   1950  September         158                1
21   1950    October         133                1
22   1950   November         114                1
23   1950   December         140                1
24   1951    January         145                1
25   1951   February         150                1
26   1951      March         178                1
27   1951      April         163                1
28   1951        May         172                1
29   1951       June         178                1
..    ...        ...         ...              ...
114  1958       July         491                0
115  1958     August         505                0
116  1958  September         404                0
117  1958    October         359                0
118  1958   November         310                0
119  1958   December         337                0
120  1959    January         360                0
121  1959   February         342                0
122  1959      March         406                0
123  1959      April         396                0
124  1959        May         420                0
125  1959       June         472                0
126  1959       July         548                0
127  1959     August         559                0
128  1959  September         463                0
129  1959    October         407                0
130  1959   November         362                0
131  1959   December         405                0
132  1960    January         417                0
133  1960   February         391                0
134  1960      March         419                0
135  1960      April         461                0
136  1960        May         472                0
137  1960       June         535                0
138  1960       July         622                0
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

In [114]:
passengers_desv = np.std(df['passengers'])
passengers_mean = np.mean(df['passengers'])

print ("Media de pasajeros: {}".format(passengers_mean))
print ("Desv estandar de pasajeros: {}".format(passengers_desv))

Media de pasajeros: 280.2986111111111
Desv estandar de pasajeros: 119.54904153277148

In [115]:
df['outlier'] = 0

In [143]:
caso_ext_deficit = (passengers_mean - passengers_desv)
caso_ext_superavit = (passengers_mean + passengers_desv) 

print ("passengers_mean - passengers_desv = {}".format(caso_ext_deficit))
print ("passengers_mean + passengers_desv = {}".format(caso_ext_superavit))

passengers_mean - passengers_desv = 160.74956957833962
passengers_mean + passengers_desv = 399.84765264388255

In [117]:
indice = 0
for n in df['passengers']:
    if n < (passengers_mean - passengers_desv) or n > (passengers_mean + passengers_desv):
        df.iloc[indice, df.columns.get_loc('outlier')] = 1
    else:
        df.iloc[indice, df.columns.get_loc('outlier')] = 0
    indice = indice + 1
df

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        1
1    1949   February         118                1        1
2    1949      March         132                1        1
3    1949      April         129                1        1
4    1949        May         121                1        1
5    1949       June         135                1        1
6    1949       July         148                1        1
7    1949     August         148                1        1
8    1949  September         136                1        1
9    1949    October         119                1        1
10   1949   November         104                1        1
11   1949   December         118                1        1
12   1950    January         115                1        1
13   1950   February         126                1        1
14   1950      March         141                1        1
15   1950      April         135                1        1
16   1950        May         125                1        1
17   1950       June         149                1        1
18   1950       July         170                1        0
19   1950     August         170                1        0
20   1950  September         158                1        1
21   1950    October         133                1        1
22   1950   November         114                1        1
23   1950   December         140                1        1
24   1951    January         145                1        1
25   1951   February         150                1        1
26   1951      March         178                1        0
27   1951      April         163                1        0
28   1951        May         172                1        0
29   1951       June         178                1        0
..    ...        ...         ...              ...      ...
114  1958       July         491                0        1
115  1958     August         505                0        1
116  1958  September         404                0        1
117  1958    October         359                0        0
118  1958   November         310                0        0
119  1958   December         337                0        0
120  1959    January         360                0        0
121  1959   February         342                0        0
122  1959      March         406                0        1
123  1959      April         396                0        0
124  1959        May         420                0        1
125  1959       June         472                0        1
126  1959       July         548                0        1
127  1959     August         559                0        1
128  1959  September         463                0        1
129  1959    October         407                0        1
130  1959   November         362                0        0
131  1959   December         405                0        1
132  1960    January         417                0        1
133  1960   February         391                0        0
134  1960      March         419                0        1
135  1960      April         461                0        1
136  1960        May         472                0        1
137  1960       June         535                0        1
138  1960       July         622                0        1
139  1960     August         606                0        1
140  1960  September         508                0        1
141  1960    October         461                0        1
142  1960   November         390                0        0
143  1960   December         432                0        1

[144 rows x 5 columns]

In [132]:
outliers = df['outlier'].value_counts()
outliers

0    91
1    53
Name: outlier, dtype: int64

In [152]:
print ("Para un total de {} viajes, se registraron {} casos extremos, entiendendose como caso extremo los días en que se realizaron menos de {} \
       o más de {} viajes".format(df.shape[0], outliers[1],int(caso_ext_deficit),int(caso_ext_superavit)))

Para un total de 144 viajes, se registraron 53 casos extremos, entiendendose como caso extremo los días en que se realizaron menos de 160        o más de 399 viajes